<form name="empresaForm">
	<div class="form-group">
		<!-- Nome -->
		<label for='nome'> Nome: </label>
		<input type='text' name='nome' class="form-control" ng-model="empresa.nome" ng-minlength="3" ng-maxlength="25">
	</div>

	<!-- Botões -->
	<button type='reset' ng-click="limparBusca()" name='limpar' class="btn btn-secondary btn-lg btn-block">
		Limpar
	</button>
	<button ng-click="listar()" class="btn btn-dark btn-lg btn-block">
		Listar
	</button>
</form>
<div class="container-contact100">
	<!-- Cards de Eventos -->
	<md-card md-theme-watch ng-repeat="empresa in empresas">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">{{empresa.nome}}</span>
				<span class="md-subhead">{{empresa.email}}</span>
				<span class="md-subhead">{{empresa.telefone}}</span>
				<span class="md-subhead">{{empresa.instagram}}</span>
				<span class="md-subhead">{{empresa.facebook}}</span>
			</md-card-title-text>

			<!-- Listar Cronogramas -->
			<md-card-actions layout="row">
				<md-card-icon-actions>
					<!--
					<md-button aria-label="Cronogramas" ui-sref="visitante.cronogramas({eventoId: evento.id})">
						<ng-md-icon icon="list" size="48"></ng-md-icon>
						<md-tooltip md-direction="bottom">
							Cronogramas
						</md-tooltip>
					</md-button>
					-->
				</md-card-icon-actions>
			</md-card-actions>
		</md-card-title>
	</md-card>
</div>
