<md-content flex layout-padding>
  <md-card flex layout-padding>

    <md-card-header>
      <md-card-avatar>
        <ng-md-icon icon="shopping_cart" size="42"></ng-md-icon>
      </md-card-avatar>

      <md-card-header-text>
        <span class="md-title">Adicionar Empresa</span>
        <span class="md-subhead">Clique nesse botão para Salvar as informações da Empresa.</span>
      </md-card-header-text>

      <!-- Salvar alterações -->
      <md-card-icon-actions>
        <md-button ng-disabled="cadastrarEmpresaForm.$invalid" aria-label="Salvar os dados da Empresa." ng-click="cadastrar()">
          <md-tooltip md-direction="bottom">Salvar Empresa</md-tooltip>
          <ng-md-icon icon="save" size="42"></ng-md-icon>
        </md-button>
      </md-card-icon-actions>
    </md-card-header>

    <md-card-content layout="column">
      <form name="cadastrarEmpresaForm" layout="column" novalidate>

        <fieldset>
          <legend>Dados Básicos</legend>
          <!-- Nome da empresa -->
          <md-input-container class="md-icon-float md-block">
            <label>Nome</label>
            <input ng-model="empresa.nome" name="nome" type="text" required>
            <div ng-messages="cadastrarEmpresaForm.nome.$error" role="alert">
              <div ng-messages-include="messages.html"></div>
            </div>
          </md-input-container>

          <div layout="row" flex>
            <!-- Telefone -->
            <md-input-container class="md-icon-float md-block" flex="50">
              <label>Telefone</label>
              <input ng-model="empresa.telefone" name="telefone" type="text" required>
              <div ng-messages="cadastrarEmpresaForm.telefone.$error" role="alert">
                <div ng-messages-include="messages.html"></div>
              </div>
            </md-input-container>

            <!-- Email -->
            <md-input-container class="md-icon-float md-block" flex="50">
              <label>E-mail</label>
              <input ng-model="empresa.email" name="email" type="email" ng-pattern="/^.+@.+\..+$/" required>
              <div ng-messages="cadastrarEmpresaForm.email.$error" role="alert">
                <div ng-messages-include="messages.html"></div>
              </div>
            </md-input-container>
          </div>

          <!-- Natureza -->
          <md-input-container class="md-icon-float md-block">
            <label>Natureza</label>
            <md-select ng-model="empresa.natureza.id" name="natureza" aria-label="Selecione a Natureza da Empresa">
              <md-option ng-repeat="natureza in naturezas" value="{{natureza.id}}">
                {{natureza.tipo}}
              </md-option>
            </md-select>
            <div ng-messages="cadastrarEmpresaForm.empresa.$error">
              <div ng-messages-include="messages.html"></div>
            </div>
          </md-input-container>

          <!-- Delivery -->
          <md-input-container class="md-block">
              <md-checkbox ng-model="empresa.isDelivery" aria-label="Faz entrega?">
                  A empresa realiza entrega de produtos por Delivery: <b>{{empresa.isDelivery| yesNo}}</b>.
              </md-checkbox>
          </md-input-container>
        </fieldset>

        <fieldset>
          <legend>Endereço</legend>
          <!-- Endereço -->
          <!-- Logradouro -->
          <md-input-container class="md-icon-float md-block">
            <label>Logradouro</label>
            <input ng-model="endereco.logradouro" name="logradouro" type="text" required>
            <div ng-messages="cadastrarEmpresaForm.logradouro.$error" role="alert">
              <div ng-messages-include="messages.html"></div>
            </div>
          </md-input-container>

          <div layout="row" flex>
            <!-- Estado -->
            <md-input-container class="md-icon-float md-block" flex="50">
              <label>Estado</label>
              <md-select ng-model="endereco.estado.id" name="estado" aria-label="Selecione o Estado da Empresa">
                <md-option ng-repeat="estado in estados" value="{{estado.id}}">
                  {{estado.nome}}
                </md-option>
              </md-select>
              <div ng-messages="cadastrarEmpresaForm.estado.$error">
                <div ng-messages-include="messages.html"></div>
              </div>
            </md-input-container>

            <!-- Cidade -->
            <md-input-container class="md-icon-float md-block" flex="50">
              <label>Cidade</label>
              <md-select ng-model="endereco.cidade.id" name="cidade" aria-label="Selecione a Cidade da Empresa">
                <md-option ng-repeat="cidade in cidades" value="{{cidade.id}}">
                  {{cidade.nome}}
                </md-option>
              </md-select>
              <div ng-messages="cadastrarEmpresaForm.cidade.$error">
                <div ng-messages-include="messages.html"></div>
              </div>
            </md-input-container>
          </div>

          <div layout="row" flex>
            <!-- Número -->
            <md-input-container class="md-icon-float md-block" flex="50">
              <label>Número</label>
              <input ng-model="endereco.numero" name="numero" type="text" required>
              <div ng-messages="cadastrarEmpresaForm.numero.$error" role="alert">
                <div ng-messages-include="messages.html"></div>
              </div>
            </md-input-container>

            <!-- Complemento -->
            <md-input-container class="md-icon-float md-block" flex="50">
              <label>Complemento</label>
              <input ng-model="endereco.complemento" name="complemento" type="text">
              <div ng-messages="cadastrarEmpresaForm.complemento.$error" role="alert">
                <div ng-messages-include="messages.html"></div>
              </div>
            </md-input-container>
          </div>

          <div layout="row" flex>
            <!-- Ponto de referência -->
            <md-input-container class="md-icon-float md-block" flex="70">
              <label>Ponto de Referência</label>
              <input ng-model="endereco.ponto_referencia" name="ponto_referencia" type="text">
              <div ng-messages="cadastrarEmpresaForm.ponto_referencia.$error" role="alert">
                <div ng-messages-include="messages.html"></div>
              </div>
            </md-input-container>

            <!-- Cep -->
            <md-input-container class="md-icon-float md-block" flex="30">
              <label>Cep</label>
              <input ng-model="endereco.cep" name="cep" type="text" required>
              <div ng-messages="cadastrarEmpresaForm.cep.$error" role="alert">
                <div ng-messages-include="messages.html"></div>
              </div>
            </md-input-container>
          </div>
        </fieldset>

        <fieldset>
          <legend>Redes Sociais</legend>
          <div layout="row" flex>
            <!-- Instagram -->
            <md-input-container class="md-icon-float md-block" flex="50">
              <label>Instagram</label>
              <input ng-model="empresa.instagram" name="instagram" type="text">
              <div ng-messages="cadastrarEmpresaForm.instagram.$error" role="alert">
                <div ng-messages-include="messages.html"></div>
              </div>
            </md-input-container>

            <!-- Facebook -->
            <md-input-container class="md-icon-float md-block" flex="50">
              <label>Facebook</label>
              <input ng-model="empresa.facebook" name="facebook" type="text">
              <div ng-messages="cadastrarEmpresaForm.facebook.$error" role="alert">
                <div ng-messages-include="messages.html"></div>
              </div>
            </md-input-container>
          </div>
        </fieldset>
      </form>
    </md-card-content>
  </md-card>
</md-content>
