<form name="empresaForm">
  <div class="form-row">

    <!--========================== Campo Nome Completo ==========================-->
    <div class="form-group col-md-6">
      <label for="">Nome da Empresa *</label>
      <input type="text" class="form-control" name="nome"
        placeholder="Digite aqui o nome da empresa, por favor!"
        ng-model="empresa.nome" required>
    </div>
    <!--========================== Campo Nome Completo ==========================-->

    <!--========================== Campo Natureza do Comércio ==========================-->
    <div class="form-group col-md-6">
      <label for="inputPassword4">Natureza do Comércio *</label>
      <input type="text" class="form-control" name="natureza"
        placeholder="Digite aqui a natureza de comércio da empresa, por favor!"
        ng-model="empresa.natureza" required>
    </div>
    <!--========================== Campo Natureza do Comércio ==========================-->
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Logradouro *</label>
      <input type="text" class="form-control" name="logradouro"
      placeholder="Ex.: Rua fulano de tal, Centro "
      ng-model="endereco.logradouro" required>
    </div>
    <div class="form-group col-md-3">
      <label for="inputCity">Número *</label>
      <input type="text" class="form-control" name="numero"
      placeholder="Ex.: 123, S/N"
      ng-model="endereco.numero" required>
    </div>
    <div class="form-group col-md-3">
      <label for="inputCity">Complemento *</label>
      <input type="text" class="form-control" name="complemento"
      placeholder="Ex.: Apto. 000"
      ng-model="endereco.complemento">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputCity">Cidade</label>
      <input type="text" class="form-control" name="cidade"
      placeholder="Digite qual a sua cidade aqui! "
      ng-model="endereco.cidade" require>
    </div>
    <div class="form-group col-md-3">
      <label >Estado</label>
      <select do" class="form-control" ng-model="endereco.estado" required>
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="DF">Distrito Federal</option>
        <option value="ES">Espírito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA">Maranhão</option>
        <option value="MT">Mato Grosso</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label>CEP *</label>
      <input type="text" class="form-control" name="cep"
      placeholder="Ex.: 00000-000"
      ng-model="endereco.cep" required>
    </div>
    <div class="form-group col-md-3">
      <label for="inputCity">Ponto de Referência *</label>
      <input type="text" class="form-control" name="ponto_referencia"
      placeholder="Ex.: Em frente a Loja X "
      ng-model="endereco.ponto_referencia">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputCity">E-mail *</label>
      <input type="email" class="form-control" name="email"
      placeholder="Digite o e-mail da loja aqui! "
      ng-model="empresa.email" required>
    </div>
    <div class="form-group col-md-3">
      <label for="inputCity">Celular (De preferência o Whatsapp) *</label>
      <input type="text" class="form-control" name="telefone"
      placeholder="Ex.: (83) 9 0000-0000 "
      ng-model="empresa.telefone" required>
    </div>
    <div class="form-group col-md-3">
      <label for="inputCity">Instagram *</label>
      <input type="text" class="form-control" name="instagram"
      placeholder="Digite o link do perfil da loja aqui! "
      ng-model="empresa.instagram" required>
    </div>
    <div class="form-group col-md-3">
      <label for="inputCity">Facebook *</label>
      <input type="text" class="form-control" name="facebook"
      placeholder="Digite o link do perfil da loja aqui! "
      ng-model="empresa.facebook" required>
    </div>
  </div>

  <div class="container-contact100-form-btn">
    <button class="btn btn-success btn-lg btn-block" ng-click="cadastrar()">
      <span>
        Cadastrar
        <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
      </span>
    </button>
  </div>
</form>
