<h1>Visitante - Home</h1>

<!-- Cards de Eventos -->
<md-card md-theme-watch ng-repeat="empresa in empresas">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{evento.nome}}</span>
            <span class="md-subhead">{{evento.inicio |  date:'dd/MM/yyyy'}} até {{evento.fim |  date:'dd/MM/yyyy'}}</span>
        </md-card-title-text>

        <!-- Listar Cronogramas -->
        <md-card-actions layout="row">
            <md-card-icon-actions>
                <md-button aria-label="Cronogramas" ui-sref="visitante.cronogramas({eventoId: evento.id})">
                    <ng-md-icon icon="list" size="48"></ng-md-icon>
                    <md-tooltip md-direction="bottom">
                        Cronogramas
                    </md-tooltip>
                </md-button>
            </md-card-icon-actions>
        </md-card-actions>
    </md-card-title>
</md-card>
