<!--Main layout-->
<main class="mt-5">
  <div class="container">

    <!--Section: Best Features-->
    <section id="best-features" class="text-center">

      <!-- Heading -->
      <h2 class="mb-5 font-weight-bold">Objetivo</h2>

      <!--Grid row-->
      <div class="row d-flex justify-content-center mb-4">
        <!--Grid column-->
        <div class="col-md-8">
          <!-- Description -->
          <p class="black-text">
            Agreguar informações de pequenos comerciantes e entregadores
            permitindo aos consumidores encontrem fornecedores de
            itens básicos de consumo sem a necessidade de sair de casa.
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->

      <!-- Heading -->
      <h2 class="mb-5 font-weight-bold text-center">Empresas</h2>
      <!--Grid row-->
      <div class="row d-flex justify-content-center mb-4">
        <!--Grid column-->
        <div class="col-md-8">
          <!-- Description -->
          <p class="black-text">
            Chamamos de empresas todos os comerciantes, feirantes e
            vendedores autônomos. Caso deseje cadastre seus dados para
            que aparecam no site.
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!--Section: Best Features-->

    <hr class="my-5">

    <!--Section: Gallery-->
    <section id="gallery">

      <!--Grid row-->
      <md-card>
        <md-table-container>
          <!-- Cabeçalho de opções -->
          <md-card-header>
            <md-card-avatar>
              <ng-md-icon icon="school" size="42"></ng-md-icon>
            </md-card-avatar>

            <md-card-header-text>
              <span class="md-title">Empresas</span>
              <span class="md-subhead">
                Digite o nome da Empresa no campo abaixo para buscar.
              </span>
            </md-card-header-text>

            <md-card-actions layout="row">
              <md-card-icon-actions>
              </md-card-icon-actions>
            </md-card-actions>
          </md-card-header>

          <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">

              <ng-md-icon icon="search" size="32"></ng-md-icon>

              <div class="toolbar-input" flex>
                <input type="text" ng-model="nome" ng-keyup="pesquisar(nome)" placeholder="Busque uma Empresa">
              </div>

              <md-button aria-label="Limpar Busca" ng-click="limparBusca()">
                <md-tooltip md-direction="bottom">Limpar Busca</md-tooltip>
                <ng-md-icon icon="clear" size="32"></ng-md-icon>
              </md-button>
            </div>
          </md-toolbar>

          <!-- Tabela -->
          <table md-table md-row-select ng-model="selectedEmpresa">
            <thead md-head>
              <tr md-row>
                <th md-column>Nome</th>
                <th md-column>Natureza</th>
                <th md-column>Município</th>
                <th md-column>UF</th>
                <th md-column>E-mail</th>
                <th md-column>Instagran</th>
                <th md-column>Facebook</th>
              </tr>
            </thead>

            <tbody md-body>
              <tr md-row md-select="empresa" md-on-select="detalharEmpresa" md-select-id="empresa.id" md-auto-select ng-repeat="empresa in empresas">
                <td md-cell>{{empresa.nome | uppercase}}</td>
                <td md-cell>{{empresa.natureza | uppercase}}</td>
                <td md-cell>{{empresa.endereco.cidade.nome | uppercase}}</td>
                <td md-cell>{{empresa.endereco.estado | uppercase}}</td>
                <td md-cell>{{empresa.email | uppercase}}</td>
                <td md-cell>{{empresa.instagram | uppercase}}</td>
                <td md-cell>{{empresa.facebook | uppercase}}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{empresas.length}}" md-page-select></md-table-pagination>
      </md-card>
      <!--Grid row-->

    </section>
    <!--Section: Gallery-->

    <hr class="my-5">

    <!--Section: Contato-->
    <section id="contact">
      <!-- Contato -->
      <md-card>
        <md-card-header>
          <md-card-avatar>
            <ng-md-icon icon="school" size="42"></ng-md-icon>
          </md-card-avatar>

          <md-card-header-text>
            <span class="md-title">Contato</span>
            <span class="md-subhead">Preencha o formulário para entrar em contato com nossa equipe. Clique nesse botão Enviar para finalizar.</span>
          </md-card-header-text>

          <!-- Salvar alterações -->
          <md-card-icon-actions>
            <md-button aria-label="Enviar dados de Contato." ng-click="enviarContato()">
              <md-tooltip md-direction="bottom">
                Enviar dos dados de Contato.
              </md-tooltip>
              <ng-md-icon icon="save" size="42"></ng-md-icon>
            </md-button>
          </md-card-icon-actions>

        </md-card-header>
        <md-card-content layout="column">
          <form name="enviarContatoForm" layout="column" novalidate>
            <!-- Nome -->
            <md-input-container class="md-icon-float md-block">
              <label>Nome</label>
              <input ng-model="contato.nome" name="nome" type="text" required>
              <div ng-messages="enviarContatoForm.nome.$error" role="alert">
                <div ng-messages-include="messages.html"></div>
              </div>
            </md-input-container>

            <!-- Telefone -->
            <md-input-container class="md-icon-float md-block">
              <label>Telefone (Whatsapp)</label>
              <input ng-model="contato.telefone" name="telefone" type="text" required>
              <div ng-messages="enviarContatoForm.telefone.$error" role="alert">
                <div ng-messages-include="messages.html"></div>
              </div>
            </md-input-container>

            <!-- Email -->
            <md-input-container class="md-icon-float md-block">
              <label>E-mail</label>
              <input ng-model="contato.email" name="email" type="email" ng-pattern="/^.+@.+\..+$/" required>
              <div ng-messages="enviarContatoForm.email.$error" role="alert">
                <div ng-messages-include="messages.html"></div>
              </div>
            </md-input-container>

            <!-- Descrição -->
            <md-input-container class="md-icon-float md-block">
              <label>Descrição</label>
              <textarea ng-model="contato.descricao" name="descricao" rows="8" cols="80">
                  </textarea>
              <div ng-messages="enviarContatoForm.descricao.$error" role="alert">
                <div ng-messages-include="messages.html"></div>
              </div>
            </md-input-container>

            <!-- Botões -->
            <button ng-click="enviarContato()" class="btn btn-primary btn-lg btn-block">
              Cadastrar
            </button>
            <button type='reset' name='limpar' class="btn btn-secondary btn-lg btn-block">
              Limpar
            </button>
          </form>
        </md-card-content>
      </md-card>
    </section>
    <!--Section: Contacto-->

    <hr class="my-5">

    <!--Section: Parcerias-->
    <section id="examples" class="text-center">

      <!-- Heading -->
      <h2 class="mb-5 font-weight-bold">Parcerias</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4">

          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/10.jpg" class="img-fluid" alt="">
            <div class="mask rgba-white-slight"></div>
          </div>

          <h4 class="my-4 font-weight-bold">Heading</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores nam,
            aperiam minima
            assumenda deleniti hic.</p>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4">

          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/11.jpg" class="img-fluid" alt="">
            <div class="mask rgba-white-slight"></div>
          </div>

          <h4 class="my-4 font-weight-bold">Heading</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores nam,
            aperiam minima
            assumenda deleniti hic.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Parcerias-->

  </div>
</main>
<!--Main layout-->
